.vscode
Debug
Release
*.xml
/.vs
/dox/*/AVR*/*
/dox/*/AT*/*
/samples/*
synth/*.exe
synth/*.wav
synth/*.o
_*
*.wav
*.WAV
*.asv
packs/
out/*
out_check/*
export*/*
*.exe
*.dat
*.obj
*.zip
*.auf
*.au
*.aup
*.o
a.out
